.hero {
  background: url(/hppavilion15_5-100827768-large.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 630px;
}

.hero div {
  display: grid;
  text-align: center;
  width: 500px;
  height: 500px;
  border-radius: 5px;
  background-color: rgba(100, 100, 100, 0.6);
  grid-template: repeat(3, 1fr) / 1fr 150px 60px 150px 1fr;
}

.name {
  font-size: 60px;
  color: white;
  margin: 0;
  grid-row: 2/2;
  grid-column: 2/5;
}

.emailText {
  font-size: 20px;
  color: white;
  margin: 0;
  grid-row: 3/3;
  grid-column: 2/5;
}

.xwing {
  position: relative;
  width: 70px;
  height: 70px;
  grid-row: 1/1;
  grid-column: 3/3;
  margin-top: 40px;
}

.xwing:hover,
.xwing:active,
.xwing:focus {
  padding: 0px 50px 50px 0px;
  transform: scale(1.1);
  transform: rotate(45deg);
  opacity: 0;
}

@media screen and (max-width: 769px) {
  .hero {
    background-size: unset;
  }
}

@media screen and (max-width: 426px) {
  .hero {
    align-items: unset;
    height: 500px;
  }

  .hero div {
    background-color: transparent;
    grid-template: 100px 150px 150px / 1fr 150px 60px 150px 1fr;
  }

  .xwing {
    padding-top: 10px;
  }

  .hero div p {
    font-size: 30px;
  }
}

@media screen and (min-width: 320px) and (max-width: 400px) {
  .hero div {
    grid-template: 100px 150px 150px / 1fr 115px 70px 115px 1fr;
  }
  .hero div p {
    font-size: 25px;
  }
}
