.container {
  background: url(../public/astronauta-perdido-en-el-espacio-5498-1.png);
  background-size: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  display: grid;
  grid-template: 1fr 100vmax 1fr / 1fr 100vmax 1fr;
  font-family: "DotGothic16";
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  grid-row: 1/1;
  grid-column: 1/4;
  padding: 15px 0px;
  position: relative;
}

.links figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links figure p {
  font-size: 25px;
}

.links a,
.links nav {
  width: 220px;
  height: 60px;
  margin-right: 30px;
}

.links section {
  display: flex;
}

.links section nav div {
  border-radius: 15px;
  width: 220px;
  height: 60px;
  background: transparent;
  border: 1px solid white;
  cursor: pointer;
  position: relative;
  color: white;
  font-size: 22px;
  box-shadow: 5px 5px 5px 5px rgba(32, 33, 36, 0.28);
}

.links section div a {
  display: flex;
  justify-content: center;
  position: relative;
  top: 15px;
  color: #fff;
  cursor: pointer;
}

.links section div a:hover,
.links section div a:active,
.links section div a:focus {
  color: #5adafd;
}

.links section nav div:hover,
.links section nav div:active,
.links section nav div:focus {
  transform: scale(1.1);
  background: url(../public/stars.svg) #282c34;
  border: none;
}

.welcome {
  grid-row: 2/2;
  grid-column: 1/4;
  align-self: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 15px 0px;
}

.welcome h1 {
  color: white;
  font-size: 32px;
}

.downloadCv {
  margin: 5px 0px 20px;
}

.downloadCv h1 {
  font-size: 28px;
  margin-bottom: 25px;
}

.downloadCv a {
  padding: 15px 30px;
  border-radius: 15px;
  background: transparent;
  border: 1px solid white;
  font-size: 20px;
  color: white;
}

.downloadCv a:hover,
.downloadCv a:active,
.downloadCv a:focus {
  background: url(../public/stars.svg) #282c34;
  border: none;
  color: #5adafd;
  font-size: 22px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-row: 3/3;
  grid-column: 1/4;
  align-self: flex-end;
  border-top: 1px solid white;
}

.footer p {
  align-self: flex-end;
  padding: 8px;
}

.codePage {
  display: flex;
}

.redes a {
  width: 50px;
  height: 50px;
}

.redes a img {
  width: 50px;
  height: 50px;
  border-radius: 12px;
  margin: 0px 10px 5px 0px;
  filter: brightness(0.5);
}

.git {
  width: 50px;
  height: 50px;
  border-radius: 12px;
  filter: invert(0.8);
}

.git:hover,
.git:focus,
.git:active {
  transform: scale(1.2);
  filter: invert(0);
}

.redes a img:hover,
.redes a img:active,
.redes a img:focus {
  transform: scale(1.2);
  filter: brightness(1);
}

@media screen and (min-width: 1600px) {
  .container {
    background-size: 100%;
    grid-template: 1fr 100vmax 1fr / 1fr 100vmax 1fr;
    background-repeat: repeat;
    background-position: initial;
  }
}

@media screen and (max-width: 769px) {
  .links {
    flex-wrap: wrap;
  }

  .links section {
    margin-left: 15px;
  }

  .redes {
    flex-wrap: wrap;
  }

  .redes a img,
  .git {
    opacity: 1;
  }

  .codePage {
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .links {
    padding: 0;
    border: none;
  }

  .links section {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .links section nav {
    margin-top: 0;
    margin-right: 15px;
  }

  .linkJuego {
    position: relative;
    top: 15px;
  }
}

@media screen and (max-width: 606px) {
  .footer p {
    padding: 0;
  }

  .footer {
    flex-wrap: wrap;
    border: none;
  }

  .redes {
    text-align: initial;
  }
}

@media screen and (max-width: 485px) {
  .container {
    grid-template: 1fr 570px 1fr / 1fr 400px 1fr;
    background-size: 1526px 100%;
  }
  .links section nav {
    margin-top: 20px;
    margin-right: 10px;
  }

  .linkJuego {
    position: static;
  }
}

@media screen and (max-width: 426px) {
  .links {
    max-width: 425px;
  }

  .links figure img {
    height: 60px;
  }

  .links figure p {
    font-size: 30px;
    color: black;
  }

  .welcome {
    height: 210px;
    padding: 10px;
  }

  .welcome h1 {
    font-size: 22px;
    margin: 0;
  }

  .downloadCv {
    margin: 8px 0px;
  }

  .downloadCv h1 {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .downloadCv a {
    padding: 8px 30px;
  }

  .footer {
    display: block;
  }

  .redes {
    width: 95%;
    margin-left: 15px;
  }

  .redes a img {
    filter: grayscale(0);
  }
}

@media screen and (max-width: 376px) {
  .container {
    grid-template: 1fr 570px 1fr / 1fr 300px 1fr;
    background-size: 1526px 100%;
  }
}

@media screen and (max-width: 321px) {
  .container {
    grid-template: 1fr 595px 1fr / 1fr 319px 1fr;
    background-size: 1526px 100%;
  }

  .welcome {
    height: 250px;
  }
}

@media screen and (min-width: 377px) {
  .container {
    grid-template: 1fr 73.5vh 1fr / 1fr 98% 1fr;
  }
}
