.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  font-family: "Orbitron";
}

.modal_main {
  position: fixed;
  background: white;
  width: 35%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  text-align: center;
  border-radius: 15px;
  border: solid #5adafd;
  background: #282c34;
  background-image: url(/stars.svg);
  color: white;
}

.modal_main button {
  font-size: 22px;
  font-weight: 600;
  background-color: #5adafd;
  border: none;
  color: #282c34;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  position: relative;
  top: 15px;
  left: 45%;
  cursor: pointer;
}

.modal_main h1 {
  color: #5adafd;
  margin-top: 15px;
}

.modal_main p {
  color: white;
  padding-bottom: 10px;
  font-size: 25px;
}

.modal_main img {
  margin: 15px 0px;
  border-radius: 15px;
}

.display_block {
  display: block;
}

.display_none {
  display: none;
}

@media screen and (max-width: 1025px) {
  .modal_main {
    width: 50%;
  }

  .modal_main p {
    font-size: 20px;
  }
}

@media screen and (max-width: 769px) {
  .modal_main {
    width: 60%;
  }

  .modal_main img {
    margin: 10px 0px;
  }

  .modal_main button {
    left: 44%;
  }
}

@media screen and (max-width: 426px) {
  .modal_main {
    width: 80%;
    border-radius: 0px 15px 0px 15px;
  }

  .modal_main img {
    width: 250px;
  }

  .modal_main button {
    left: 43%;
  }

  .modal_main h1 {
    font-size: 25px;
  }

  .modal_main p {
    font-size: 15px;
  }
}

@media screen and (max-width: 376px) {
  .modal_main img {
    width: 200px;
  }

  .modal_main button {
    left: 41%;
  }
}
